/* Gaming style */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');


:root.green {
    --border-things: 1px solid green;
}

:root.blue {
    --border-things: 1px solid blue;
}

body {
    background-color: #232323;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

h1 {
    color: red;
}

.container {
    width: 250px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: var(--border-things);
}
