/* Pixelated game style -- SUPER NAUGHTS & CROSSES DELUXE! */

html,
body {
    margin: 0;
}

body {
    background-color: #232323;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

#game {
    color: black;
    background-color: white;
    width: 246px;
    height: 246px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#left_container {
    height: 250px;
    width: 250px;
    background-color: blue;
    margin-right: 100px;
}

#right_container {
    height: 250px;
    width: 250px;
    background-color: red;
    margin-left: 100px;
}

.slot {
    width: 80px;
    height: 80px;
    border: 1px solid red;
}
