/* Pixelated game style -- SUPER NAUGHTS & CROSSES DELUXE! */

html,
body {
    margin: 0;
}

body {
    background-color: #232323;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

#game {
    color: black;
    background-color: white;
    border: 2px dotted white;
    width: 366px;
    height: 366px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#status {
    align-self: center;
    width: 366px;
}

#reset_button {
    width: 366px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#reset {
    height: 25px;
    width: 125px;
}

#left_container,
#right_container {
    margin-top: 100px;
    height: 164px;
    width: 328px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px dotted white;
}

#left_container {
    margin-right: 100px;
}

#right_container {
    margin-left: 100px;
}

#o_status,
#x_status {
    margin-top: 10px;
    width: 328px;
    display: flex;
    justify-content: center;
}

.slot {
    width: 120px;
    height: 120px;
    border: 1px solid black;
}


.markers1,
.markers2 {
    height: 80px;
    width: 80px;
    border: 1px solid black;
}
