html,
body {
    margin: 0;
}

body {
    background-color: #232323;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

#middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

button#reset,
button#clean {
    height: 25px;
    width: 125px;
}

#game {
    color: black;
    background-color: white;
    border: 2px dotted white;
    width: 366px;
    height: 366px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#status {
    align-self: center;
    width: 366px;
    margin-top: 30px;
}

#left_container,
#right_container {
    height: 164px;
    width: 328px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
}

#left_container {
    margin-right: 100px;
}

#right_container {
    margin-left: 100px;
}

#o_scores,
#x_scores {
    margin-bottom: 10px;
    width: 328px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

#x_scores p,
#o_scores p {
    margin-left: 10px;
}

#o_status,
#x_status {
    margin-top: 10px;
    width: 328px;
    display: flex;
    justify-content: center;
}

.slots {
    width: 120px;
    height: 120px;
    border: 1px solid black;
}


.o_markers,
.x_markers {
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

.selected {
    content: url("img/selected.png");
